<div class = "navbar">
  <ul>
    <li class="active"><a href="#">Home</a></li>
    <li class="active"><%= link_to 'Projects', projects_path %></li>
    <li class="active">Login</li>
    <li class="active">Sign In</li>
    <li class="active">Sign Out</li>
  </ul>
</div>
