<div class = "navbar">
  <ul>
    <li class="active"><a href="#">Home</a></li>
    <li class="active">Projects</li>
    <li class="active">Login</li>
    <li class="active">Sign In</li>
    <li class="active">Sign Out</li>
  </ul>
</div>
