<h1>Listing Projects</h1>
<p>Find me in app/views/projects/index.html.erb</p>


<% @projects.each do |project| %>
  <ul> 
    <li><%=link_to project.title, project%></li>
      <p><%=project.teaser %></p>
      <p><%=project.goal%></p>
      <p><%=project.description %></p>
  </ul>
<% end %>