<h1>Projects#Index</h1>

<% @projects.each do |project| %>
  <ul> 
    <li class="active"><%=link_to project.title, project%></li>
<!--       <p><%=project.teaser %></p>
      <p><%=project.goal%></p>
      <p><%=project.description %></p> -->
  </ul>
<% end %>